version: '3.8'

services:
  app:
    build: .
    command: ./entrypoint.sh
    volumes:
      - ./:/code/
    ports:
      - 8000:8000
    depends_on:
      - db
    env_file:
      - ./.env
  db:
    image: postgres:14
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
volumes:
  postgres_data:
