<div class="container">
  <form class="formCSS" method="post">
    <div class="h1 text-center title">Create an account</div>
    <div class="row flex justify-content-center">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <label class="text-center" for="email">Email : </label>
        <input
          class="form-control"
          type="text"
          name="email"
          id="email"
          [(ngModel)]="email"
        />
      </div>
    </div>

    <div class="row flex justify-content-center">
      <div class="col-lg-4 col-md-4  col-sm-6">
        <label class="text-center" for="name">Name : </label>
        <input
          class="form-control"
          type="text"
          name="name"
          id="name"
          [(ngModel)]="name"
        />
      </div>
    </div>

    <div class="row flex justify-content-center">
      <div class="col-lg-4 col-md-4  col-sm-6">
        <label for="password">Password: </label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
              [(ngModel)]="password"/>
      </div>
    </div>

    <div class="row flex justify-content-center" style="margin-top:30px;">
      <div class="col-lg-2 col-md-2 col-sm-4 nav flex-column justify-content-center">
        <button type="submit"
                class="btn btn-success rounded"
                (click) = "signUp()">
          Create new account
        </button>
      </div>
    </div>
<!--    remainder for registering successfully or not -->
    <div class="succ" *ngIf="isSuccessful">Your registration is successful!Go to <a style="text-decoration: underline;" routerLink = '../login' class="login">login</a> page now!</div>
    <div class="fail" *ngIf="isSignUpFailed">Signup failed,please try again!</div>
  </form>
</div>

